@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar__container li {
    display: flex;
    /* background-color: blue; */
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
    padding-left: 1rem;
}
.activeTab {
    background-color: #cbffeb;
}
.inactive {
    background-color: white;
}
.sidebar__container li:hover{
    cursor: pointer;
    background-color: #e9fff8;
}
.categorybtns{
    background-color: green;
    margin-bottom: 5px;
}
.categorybtns :hover{
    background-color: red;
}
@media (max-width: 425px) {
    .Body {
        display: flex;
    }
    .sidebar__container {
        display: flex;
        width: 70%;
        flex-direction: column;
        height: 93vh;
    }
    .logo {
        font-size: 1em;
        position: relative;
    }
    .search-container {
        margin-left: 40px;
    }
    .sidebar__container li span {
        display: none;
    }
    .centerBar_container {
        /* background-color: blue; */
        padding: 0;
        margin-left: -32px;
        display: flex;
        flex-direction: column;
    }
    .taskContent {
        background-color: white;
        position: absolute;
        width: 80vw;
        margin-left: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .task-footer {
        margin-top: 5rem;
        margin-bottom: 1rem;
        width: 95%;
        display: flex;
        flex-direction: row;
        padding-inline: 0;
        justify-content: space-between;
    }
    .task-title {
        font-size: 1.2em;
        max-width: 20rem;
    }
    .describe {
        font-size: 1em;
        max-width: 20rem;
    }
    .finish, .copy{
        font-size: smaller;
    }
    .saveIcon, .copyIcon {
        size: 2px;
    }
    .closeBtn {
        display: block;
    }
    .mobile-hidden {
        display: none;
    }
    .tab-content {
        height: 89%;
    }
    .tab-content .task {
        width: 100%;
        border: none;
    }
    .modal {
        padding: 2px;
    }
    .Modalcontainer {
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .Modalcontainer .footer {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .footer-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-btn {
        width: 100%;
        padding: 10px;
    }
    .header {
        gap: 0;
    }
    .header h1 {
        display: none;
    }
    .filter {
        display: flex;
        width: 70vw;
    }
    .SignInBody, .SignUpBody {
        width: 90vw;
        margin-top: 50px;
    }
}